---
import "../styles/global.css";

import Burgermenu from "../components/Burgermenu.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  --- import "../styles/global.css"; import Button from "../components/Button.astro"; import Burgermenu from "../components/Burgermenu.astro"; ---

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Burgermenu />

    <Button variant="primary" size="medium">BUY TICKETS HERE</Button>
  </body>
</html>
