---
import Navigation from "../components/Navigation.astro";

import "../styles/global.css";

import MainLayout from "../Layouts/MainLayout.astro";

import Cards from "../components/Cards.astro";

import Box from "../components/Box.astro";

---

<MainLayout>
  <body>
    <Navigation />

    <h1>SCHEDULE</h1>
    <h4>FILTER BY WEEK DAY</h4>
    <Box />

    <p>Click the ticket icon to easily purchase your festival tickets and secure your spot!</p>

    <Cards img="produkt1.webp" title="DISTORTION Ø 2025" billet="Billetikon.webp" />
    <Cards img="produkt2.webp" title="DISTORTION X RÅDHUSPLADSEN 2025" billet="Billetikon.webp" />
    <Cards img="produkt3.webp" title="NØRREBRO STREET PARTY 2025 (free)" />
    <Cards img="produkt4.webp" title="DISTORTION X - NØRREBRO 2025" billet="Billetikon.webp" />
    <Cards img="produkt5.webp" title="DISTORTION CLUB 2025" billet="Billetikon.webp" />
    <Cards img="produkt6.webp" title="ACTION HYGGE 2025 (free)" />
    <Cards img="produkt7.webp" title="HAVNEFEST 2025 (free)" />
  </body>
</MainLayout>

<style>
  h1 {
    margin-top: 80px;
    margin-left: 15px;
  }

  h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-top: 20px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin: 20px;
  }

  /* DESKTOP */
  /* @media (min-width: 600px) {
  } */
</style>
