---
import Navigation from "../components/Navigation.astro";
// const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ma3FwYnJqb21sa2JnbHZ0cXhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjc3ODczMzMsImV4cCI6MjA0MzM2MzMzM30.AvtM_0O9qt1OKWaWdtnqaa6WJJrGI_N_E5iW3sylkEg";

// const locations = await fetch(`https://nfkqpbrjomlkbglvtqxb.supabase.co/rest/v1/locations`, {
//   method: "GET",
//   headers: {
//     apikey: key,
//   },
// }).then((response) => response.json());

// console.log(locations);

import "../styles/global.css";

import MainLayout from "../Layouts/MainLayout.astro";

import Cards from "../components/Cards.astro";

import Box from "../components/Box.astro";
---

<MainLayout>
  <body>
    <Navigation />

    <!-- <ul>
  {
    locations.map((locations) => (
      <li>
        <h3>{locations.name}</h3>
        <p>{locations.description}</p>
      </li>
    ))
  }
</ul> -->

    <h1>SCHEDULE</h1>
    <h2>FILTER BY WEEK DAY</h2>
    <Box />
    <p>Click the ticket icon to easily purchase your festival tickets and secure your spot!</p>

    <Cards img="produkt1.webp" title="DISTORTION Ø 2025" billet="Billetikon.webp" />
    <Cards img="produkt2.webp" title="DISTORTION X RÅDHUSPLADSEN 2025" billet="Billetikon.webp" />
    <Cards img="produkt3.webp" title="NØRREBRO STREET PARTY 2025 (free)" />
    <Cards img="produkt4.webp" title="DISTORTION X - NØRREBRO 2025" billet="Billetikon.webp" />
    <Cards img="produkt5.webp" title="DISTORTION CLUB 2025" billet="Billetikon.webp" />
    <Cards img="produkt6.webp" title="ACTION HYGGE 2025 (free)" />
    <Cards img="produkt7.webp" title="HAVNEFEST 2025 (free)" />
  </body>
</MainLayout>

<style>
  h1 {
    margin-top: 80px;
    margin-bottom: 25px;
    margin-left: 15px;
  }

  h2,
  p {
    margin-left: 15px;
  }

  p {
    margin-bottom: 20px;
  }

  /* DESKTOP */
  @media (min-width: 600px) {
  }
</style>
