---
import MainLayout from "../Layouts/MainLayout.astro";
---

<MainLayout>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
  <div>hej</div>
</MainLayout>
