---
import MainLayout from '../../Layouts/MainLayout.astro';

export async function getStaticPaths() {
  const url = "https://nfkqpbrjomlkbglvtqxb.supabase.co/rest/v1/locations";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ma3FwYnJqb21sa2JnbHZ0cXhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjc3ODczMzMsImV4cCI6MjA0MzM2MzMzM30.AvtM_0O9qt1OKWaWdtnqaa6WJJrGI_N_E5iW3sylkEg";

  const options = {
    headers: {
      apikey:key
    }
  }
  
  const produkter = await fetch(url, options).then(res=>res.json())
  
  return produkter.map(produkt => ({
      params: { produkt: produkt.slug }, // [produkt]=produkt.slug
      props: { produkt } // send al data med som props
    }))
}

const { produkt } = Astro.props;
console.log(produkt) // produkt.name, produkt.image osv.
---
<h1>{produkt.name}</h1>

