---

---

<div class="box_container">
  <div class="box"><p>ALL</p></div>
  <div class="box"><p>WEDNESDAY</p></div>
  <div class="box"><p>THURSDAY</p></div>
  <div class="box"><p>FRIDAY</p></div>
  <div class="box"><p>SATURDAY</p></div>
  <div class="box"><p>SUNDAY</p></div>
</div>

<div class="box_container_mobile">
  <div class="box_mobile"><p>FILTER</p></div>
</div>

<style>
  @media (min-width: 600px) {
    .box_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin: 10px;
      justify-content: center;
      align-items: center;
    }

    .box {
      width: 220px;
      height: 50px;
      background-color: white;
      color: black;
      font-size: 18px;
      border: 1px solid black;
    }

    .box p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: var(--fontsize-p);
      margin-top: 1rem;
      margin-left: 0.5rem;
    }

    .box:hover {
      background-color: var(--button-primary-color);
      color: white;
      font-weight: bolder;
      cursor: pointer;
      border: none;
    }

    .box_container_mobile {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .box_container {
      display: none;
    }

    .box_container_mobile {
      font-family: Arial, Helvetica, sans-serif;
      font-size: var(--fontsize-p);
      margin-top: 1rem;
      margin-left: 0.5rem;
    }

    .box_mobile {
      width: 180px;
      height: 50px;
      background-color: white;
      color: black;
      font-size: 18px;
      border: 1px solid black;
      margin-left: 0.5rem;
    }

    .box_mobile p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: var(--fontsize-p);
      margin-top: 1rem;
      margin-left: 0.5rem;
    }

    .box_mobile:hover {
      background-color: var(--button-primary-color);
      color: white;
      font-weight: bolder;
      cursor: pointer;
      border: none;
    }
  }
</style>
