---

---
   
   <div class="countdown_container">
      <img class="countdown" src="../images/countdown.webp" alt="countdown">
    </div>

    <style>
.countdown{
width: 100%;
padding: 15px;
 }

 .countdown_container{
  background-color: var(--bg-tertiary-card-color);
padding-bottom: 65px;
padding-top: 50px;
 }
    </style>