---

---
   
   <div class="countdown_container">
      <img class="countdown" src="../images/countdown.webp" alt="countdown">
    </div>

    <style>
.countdown{
width: 100%;
padding: 15px;
 }

 .countdown_container{
  background-color: var(--bg-tertiary-card-color);
padding-bottom: 65px;
padding-top: 50px;
 }

 @media (min-width: 750px){
    .countdown{
width: 70%;
 display: block;
    margin: 0 auto;           
    max-width: 100%;           
    height: auto; 
 }

  .countdown_container{
  background-color: var(--bg-tertiary-card-color);
padding-bottom: 200px;
padding-top: 100px;
 }
 }
    </style>