---

---

<footer>Footer</footer>

<!-- List 1 -->
<ul>
  <li><strong>CONTACT</strong></li>
  <li><a>Info@nusnus.dk</a></li>
  <li><a>NusNus</a></li>
  <li><a>Refshalevej 167A</a></li>
  <li><a>1432 Copenhagen K</a></li>
  <li><a>CVR no. 31183200</a></li>
</ul>

<!-- List 2 -->
<ul>
  <li><strong>INFO</strong></li>
  <li><a>Jobs</a></li>
  <li><a>Open call art</a></li>
  <li><a>Volunteer</a></li>
  <li><a>Partners</a></li>
</ul>

<!-- List 3 -->
<ul>
  <li><strong>PRACTICAL</strong></li>
  <li><a>Lost & found</a></li>
  <li><a>Find us</a></li>
</ul>

<style>
  footer {
    color: var(--footer-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: var(--fontsize-p: 1.2rem);
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: var(--white);
    text-align: center;
  }
</style>
